.stats__header {
  height: 183px;
  padding: 28px 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: black;
  background-color: white;
  @media (min-width: @tablet-width) {
    height: 173px;
    padding: 25px 34px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 105px;
    text-transform: none;
  }
}
