.user-list__login {
  position: relative;
  display: block;
  padding-left: 47px;
  padding-right: 21px;
  padding-top: 19px;
  padding-bottom: 19px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.user-list__login .user-list__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: auto;
  left: 19px;
  margin: auto 0;
  fill: white;
  opacity: 0.3;
}