.stats__item {
  @media (max-width: @mobile-width-only) {
  padding: 0 20px;
  }
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 0 34px;
  }
}
.stats__item dt {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
}
.stats__item dd {
  max-width: 90px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: right;
}
.stats__item:first-child {
  background-color: rgba(45, 38, 130, 0.05);
}
.stats__item:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.12);
}


@media (min-width: @tablet-width) {
  .stats__item:first-child, .stats__item:last-child {
  background-color: rgba(255, 255, 255, 0.05);
  }
}
