.stats__item {
  padding: 0 20px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
}
.stats__item dt {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
}
.stats__item dd {
  max-width: 90px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: right;
}
.stats__item:first-child {
  background-color: rgba(45, 38, 130, 0.05);
}
.stats__item:nth-child(2n) {
  background-color: rgba(255, 255, 255, 0.12);
}
