// Colors

@darkgrey: #292929;
@verydark: #353535;
@lightgrey: #f8f5f2;
@stats__header-height: 179px;

// Viewports

@tablet-width: 768px;
@desktop-width: 1068px;
@mobile-width-only: 767px;


html {
  height: 100%;
  font-size: 18px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  line-height: 27px;
}


img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.outline () {
  outline: 2px solid rgba(255, 0, 0, 0.8);
  outline-offset: -2px;
}