.stats__intro {
  margin-bottom: 13px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}