.user-list {
  @media (min-width: @tablet-width) {
    display: flex;
    margin-left: auto;
    align-self: flex-start;
  }
  @media (min-width: @desktop-width) {
  }
}
@media (max-width: @mobile-width-only) {
  .main-nav--closed .user-list {
    display: none;
  }

  .main-nav--nojs .user-list {
    display: block;
  }
}
