.stats__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  @media (min-width: @tablet-width) {
    width: 84%;
    min-width: 640px;
    position: relative;
    margin: 0 auto;
    //top: -(@stats__header-height);
  }
  @media (min-width: @desktop-width) {
    max-width: 1200px;
    width: 89%;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}
