.stats__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  @media (min-width: @tablet-width) {
    width: 640px;
    position: relative;
    //top: -(@stats__header-height);
  }
  @media (min-width: @desktop-width) {
    width: 960px;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}
