@media (max-width: @mobile-width-only) {
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    min-height: 80vh;
    z-index: 10;
    background-color: #6a4d38;
  }
  .main-nav--opened .main-nav__wrapper::before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 8px;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: inset 4px 0 7px -2px fade(#000000, 40%);
    pointer-events: none;
  }
}
.main-nav__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
  }
}
@media (max-width: @mobile-width-only) {
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }
}
