.stats__list {
  //padding: 0 20px;
  display: flex;
  flex-direction: column;
  background-color: #353535;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    height: 318px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
